
:root{
    --dark1:#003C43;
    --dark2:#135D66;
    --light1:#E3FEF7;
    --lighr2:#E3FEF7;
  }

.checkbox{
    /* background-color: bisque; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 123px;
}
.check{
    margin: 3px;
    width: 15px;
    height: 15px;
}
.label{
    /* background-color: blueviolet; */
}
.addcourt{
    background-color:#006769;
    padding-block: 10px;
    
}
label{
    color: white;
}
.error {
    color: rgb(255, 59, 59);
    font-size: 0.75em;
    margin-top: 0.15em;
}
.image_box{
    position: relative;
    margin-top: 10px;
    width: 80px;
    height: 80px;
     background-color: burlywood;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: aqua;
    left: 65px;
    top: -5px;
    display: flex;
    cursor: pointer;
}
.close_img{
    width: 100%;
    height: 100%;
    background-color: #606362;
    opacity: .8;
}
.close_img:hover{
    opacity: 1;
}
.images{
    width: 100%;
    height: 100%;
}
@media(max-width:310px){
    #courtname,#contact,#courtlocation,
    #courtAddress1,#courtAddress2,#courtAddress3,#landmark,#courttype{
        width: 99%;
    }
}