:root{
    --dark1:#003C43;
    --dark2:#135D66;
    --light1:#E3FEF7;
    --lighr2:#E3FEF7;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    margin: 0;
    padding: 0;
    /* z-index: 1;
    position: fixed; */
}
.navbar{
    background-color:var(--dark1);
    color: white;
    width: 100%;
    padding-block: 5px;
    margin-bottom: 0;
    
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.navbar-toggler{
    border: 2px solid white;
    background-color: rgb(255, 255, 255,.3);
}
.navbar_head{
    /* background-color: rgb(21, 119, 206); */
    height: 10px;
}
.navbar_head-small{
    font-size: xx-small;
    color: rgb(16, 187, 16);
    font-style: italic;
}
.navbar_head{
    font-size: 30px;
    text-transform: capitalize;
}
.navbar-brand{
    color: white;
    font-style: italic;
    height: 50px;
}
#navbarSupportedContent{
    margin-left: 765px;
    color: white !important;
}
.nav-link,.nav-item{
    color:white;
}
.Logout:hover{
    background-color: rgb(80, 4, 4);
    border-radius: 10px;
    border-color:  white;
    transition: background-color 0.8s ease, border-radius 0.8s ease, border-color 0.8s ease;
}
@media(max-width:992px){
    #navbarSupportedContent{
        margin-left:0px;
        color: white !important;
    } 
}
@media(max-width:350px){
    .navbar_head{
        font-size:larger;
    }
  }
  @media(max-width:250px){
    .navbar_head{
        font-size:medium;
    }
   
  }
