*{
    margin: 0;
    padding: 0;
}
.carouselhead,.carousel_img{
    height:90vh;
}
.carouselhead{
    /* border: 5px solid red; */
}
.carousel_img {
    transition: transform 0.2s; /* Smooth transition for rotation */
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}
