* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    min-height: 90vh;
    margin: 0;
    padding: 0;
    background-color: #ECEFF4;

}

.controlpnl {
    font-size: small;
    padding-left: 2px;
    font-style: italic;
}

.options {
    background-color: #4a626b;
    padding-top: 55px;
}

.option-list {
    height: 30px;
    /* background-color: #59737c; */
    list-style: none;
    margin-top: 1px;
    color: rgb(224, 223, 223);
    text-align: start;
    padding-block: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.option-list:hover {
    background-color: #343c3f;
    font-style: italic;
    transition: background-color 1.9s ease, font-style 2.9s ease;
}

.panelbox {
    background-color: #ECEFF4;
    /* height: calc(100vh-60px); */
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.panelcard1:hover,
.panelcard3:hover,
.panelcard4:hover,
.panelcard5:hover,
.panelcard2:hover {
    font-style: italic;
    
}

.panelcard1,
.panelcard3,
.panelcard4,
.panelcard5,
.panelcard2 {
    width: 20rem;
    height: 10rem;
    background-color: #4a626b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.panelcard1 {
    background-color: #03BEF5;
}

.panelcard2 {
    background-color: #F39C11;
}

.panelcard3 {
    background-color: #01A65A;
}

.panelcard4 {
    background-color: #DE4B39;
}

.panelcard5 {
    background-color: #0073B6;
}

.card-headers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding-left: 10px;
    height: 85%;
    position: relative;
    bottom: 20px;
}

.info {
    height: 15%;
    background-color: rgb(0, 0, 0, .1);
    text-align: center;
    font-weight: lighter;
    cursor: pointer;
}

.info:hover {
    background-color: rgb(0, 0, 0, .1);
    font-style: italic;
    font-size: medium;
}

.user-card-img1 {
    width: 50px;
    position: relative;
    left: 210px;
    top: 60px;
    opacity: .5;
}
.courtz{
    background-color: #343c3f;
    color: wheat;
    padding-block: 5px;
    padding-inline: 10px;
    gap: px;
    display: flex;
    flex-direction: column;
}
.table{
 /* background-color: #74b2c9; */
}


.delete-span {
    border-radius: 5px;
    padding: 2px;
    font-size: small;
    cursor: pointer;
    background-color: #e02f17;
    border: 1px solid  #e02f17;
}
.delete-span:hover{
    background-color: #DE4B39;
}
@media(max-width:767px) {
    .options {
        padding: 0;
        height: 40px;
    }
    .dashboard{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:340px) {
    .user-card-img1 {
        width: 45px;
        position: relative;
        left: 200px;
        top: 60px;
        opacity: .5;
    }

    .cards {
        padding: 0px;
    }

    .panelcard1,
    .panelcard3,
    .panelcard4,
    .panelcard5,
    .panelcard2 {
        width: 18rem;
        height: 10rem;
        margin: 0;
    }

    .card-headers h3 {
        font-size: medium;
    }

    .info {
        font-size: smaller;
    }
}

@media(max-width:340px) {
    .user-card-img1 {
        width: 40px;
        position: relative;
        left: 170px;
        top: 60px;
        opacity: .5;
    }

    .panelcard1,
    .panelcard3,
    .panelcard4,
    .panelcard5,
    .panelcard2 {
        width: 18rem;
        height: 8rem;
        margin: 0;
    }

    .controlpnl {
        font-size: 12px;
    }
}

@media(max-width:250px) {
    .user-card-img1 {
        width: 40px;
        position: relative;
        left: 150px;
        top: 60px;
        opacity: .5;
    }

    .panelcard1,
    .panelcard3,
    .panelcard4,
    .panelcard5,
    .panelcard2 {
        width: 18rem;
        height: 8rem;
        margin: 0;
    }

    .controlpnl {
        font-size: 12px;
    }

    .card-headers {
        padding: 0;
    }

    .card-headers h3 {
        font-size: 15px;

    }
}